/**
* Mixins
* Adapted from Twitter Bootstrap
* https://github.com/twitter/bootstrap/blob/master/less/mixins.less
*/


// Utility Mixins
//---------------------

// Clearfix
// --------
// For clearing floats like a boss h5bp.com/q
.clearfix {
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        content: "";
        // Fixes Opera/contenteditable bug:
        // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
        line-height: 0;
    }
    &:after {
        clear: both;
    }
}

// IE7 inline-block
// ----------------
.ie7-inline-block() {
    *display: inline; /* IE7 inline-block hack */
    *zoom: 1;
}

// Webkit-style focus
// ------------------
.tab-focus() {
    // Default
    outline: thin dotted #333;
    // Webkit
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

// Center-align a block level element
// ----------------------------------
.center-block() {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// IE7 inline-block
// ----------------
.ie7-inline-block() {
    *display: inline; /* IE7 inline-block hack */
    *zoom: 1;
}

// Sizing shortcuts
// -------------------------
.size(@height, @width) {
    width: @width;
    height: @height;
}
.square(@size) {
    .size(@size, @size);
}



//------------------------------
// CSS3 Properties
//------------------------------

// Border Radius
.border-radius(@radius) {
    -webkit-border-radius: @radius;
       -moz-border-radius: @radius;
            border-radius: @radius;
}

// Drop shadows
.box-shadow(@shadow) {
    -webkit-box-shadow: @shadow;
       -moz-box-shadow: @shadow;
            box-shadow: @shadow;
}

// Transitions
.transition(@transition) {
    -webkit-transition: @transition;
       -moz-transition: @transition;
         -o-transition: @transition;
            transition: @transition;
}

// Box sizing
.box-sizing(@boxmodel) {
    -webkit-box-sizing: @boxmodel;
       -moz-box-sizing: @boxmodel;
            box-sizing: @boxmodel;
}

// Opacity
.opacity(@opacity) {
    opacity: @opacity / 100;
    filter: ~"alpha(opacity=@{opacity})";
}