<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="author" content="Pablo Vallejo" />
        <link rel="stylesheet" href="/assets/css/style.min.css">
        <title>{{ page.title }}</title>
    </head>
    <body>
        <div class="page-container">
            <header>

                <div class="container">
                    <ul class="navigation inline">
                        <li><a class="" href="/about">About</a></li>
                        <li><a class="" href="/projects">Projects</a></li>
                        <!-- <li>Other</li> -->
                    </ul>
                    <a href="/" class="brand">Pablo Vallejo</a>
                </div>

            </header>


            <section class="container main-content">

                {{ content }}

            </section>

        </div>

        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <center>
                    © 2013 Pablo Vallejo
                    <ul class="inline">
                        <li><a href="https://github.com/PabloVallejo">Github</a></li>
                        <li><a href="mailto:pabloninety@gmail.com">Email</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/projects">Projects</a></li>
                    </ul>
                </center>
            </div>
        </footer>

        <!-- Libraries -->
        <script src="/assets/js/prettify/prettify.js"></script>

        <!-- Site scripts -->
        <script src="/assets/js/scripts.min.js"></script>
  </body>
</html>
