<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="author" content="Pablo Vallejo" />
        <meta name="description" content="Blog dedicated to writings and thoughts on Web Development both Back-End and Front-End.">
        <link rel="stylesheet" href="/blog/assets/css/style.min.css">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
        <title>{{ page.title }}</title>
    </head>
    <body>
        <div class="page-container">
            <header class="header">

                <div class="container">
                    <ul class="navigation inline">
                        <li><a class="" href="/about">About</a></li>
                        <li><a class="" href="/projects">Projects</a></li>
                    </ul>
                    <a href="/" class="brand">Pablo Vallejo</a>
                </div>

            </header>


            <section class="container main-content">

                {{ content }}

            </section>

        </div>

        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <center>
                    © 2015 Pablo Vallejo
                    <ul class="inline">
                        <li><a href="https://github.com/PabloVallejo">Github</a></li>
                        <li><a href="mailto:pabloninety@gmail.com">Email</a></li>
                        <li><a href="https://twitter.com/PabloVallejo_">Twitter</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/projects">Projects</a></li>
                    </ul>
                </center>
            </div>
        </footer>

        <!-- Libraries -->
        <script src="/blog/assets/js/prettify/prettify.js"></script>

        <!-- Site scripts -->
        <script src="/blog/assets/js/scripts.min.js"></script>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-36974472-2', 'pablovallejo.me');
            ga('send', 'pageview');
    </script>
  </body>
</html>
